@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,900&display=swap);

html *
{
   font-size: 1em !important;
   color: #000 !important;
   font-family: Nunito Sans !important;
}